.chat-bot{
    &__message{
    background-color: #464649;
    border: 1px solid #59595b;
    border-radius:5px;
    padding:1rem; 
    margin:0 1rem 1rem; 
    text-align: left;
    &--current-task{
        background-color: #59595b;
        border: 1px solid #464649;
    }
}

}