.chat-bot{
    &__window{background-color: #292929;
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
   padding:2rem;
   color: #f0f0f1;
   justify-content: center;
   flex:6;
}
&__chat-header{
    display: flex;
    justify-content:space-between;
    margin:0 0 1rem 1rem;
}
&__save{
 
    background-color: #464649;
    border: 1px solid #59595b;
    border-radius:5px;
    color:white;
    font-weight: bold;
    padding:0.5rem 1rem;
    margin-top:auto;
    &:hover{
    background-color:hsla(0,0%,100%,.05)
    }
}
&__inner{
    display: flex;
    align-items: flex-start;
    background-color: #292929;
}
   &__deploy{
background-color: #1f69ab;
color:white;
border-radius: 5px;
padding:1rem 1.5rem;
font-weight: bold;
border: 0;

   &--disabled{ background-color: #18181b;
color:#5c5c5e;
border:2px solid gray;

&:hover{ cursor:no-drop}
}

   }
   &__agent-chat{
    flex:3;
    background-color: #18181b;
    border: 1px solid #464649;
    border-radius:5px;
    padding: 0 1rem 1rem 0;
   }
    &__agent-chat-inner{
      
        min-height: 300px;

        max-height: 300px;

        overflow-y:scroll ;

        &::-webkit-scrollbar {
            width: 1em;
        }
        
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;

        }
        
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 10px;

        }
    }
    &__current-tasks{
        flex:1;
        padding:0 1rem 1rem 0;
        height: 100%;
        background-color: #18181b;
        border: 1px solid #464649;
        border-radius:5px;
    }
    &__current-tasks-inner{
      
        overflow-y:scroll ;
        max-height: 300px;
        min-height: 300px;

        &::-webkit-scrollbar {
            width: 1em;
        }
   
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;

        }
        
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
            border-radius: 10px;

        }

    }
    &__title{
        width: 100%;
        height:fit-content;

    }


    &__field{
        width: 100%;
        display: flex;
        border: 1px solid #4e4e4e;
        background-color: #3a3a3a;
        border-radius:5px;
       }
    &__label{
    flex: 1;
    padding: 1rem;
    border-right: 1px solid #4e4e4e;
    text-align: left;
    }
    &__input{
        flex: 3;
        padding: 1rem;
        background-color: #3a3a3a;
        color:white;
        border:0;

    }
}

